{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",

    "PG_CONNECTION_STRING": "postgresql://USER:PASSWORD@HOST:5432/postgres?sslmode=require",

    "FCM_PROJECT_ID": "treepnet-1fa8d",
    "FCM_SERVICE_ACCOUNT_JSON": "PASTE_THE_ENTIRE_SERVICE_ACCOUNT_JSON_ON_ONE_LINE"
  }
}
